<section id="build-bakery">
  <div class="container">
    <h2 class="bb_title">Build Your Bakery</h2>
    <h3 class="bb_title sub">More Than a Kitchen — It’s Your Empire</h3>
    <div class="bb_wrap">
      <ul class="bb__list">
        <li class="bb_item">
          <div class="bb__img--box one">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/build-bakery/bb1desc.png    1x,
                  /img/build-bakery/bb1desc@2x.png 2x
                "
              />
              <source
                media="(max-width: 375px)"
                srcset="
                  /img/build-bakery/bb1mob.png    1x,
                  /img/build-bakery/bb1mob@2x.png 2x
                "
              />
              <img class="bb_img" src="/img/build-bakery/bb1mob.png" alt="" />
            </picture>
          </div>
          <p class="bb__item-txt one">Decorate your donut shop interior</p>
        </li>
        <li class="bb_item">
          <p class="bb__item-txt two">
            Place plushies, plants, neon signs, and dessert displays
          </p>
          <div class="bb__img--box two">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/build-bakery/bb2desc.png    1x,
                  /img/build-bakery/bb2desc@2x.png 2x
                "
              />
              <source
                media="(max-width: 375px)"
                srcset="
                  /img/build-bakery/bb2mob.png    1x,
                  /img/build-bakery/bb2mob@2x.png 2x
                "
              />
              <img class="bb_img" src="/img/build-bakery/bb2mob.png" alt="" />
            </picture>
          </div>
        </li>
        <li class="bb_item">
          <div class="bb__img--box three">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/build-bakery/bb3desc.png    1x,
                  /img/build-bakery/bb3desc@2x.png 2x
                "
              />
              <source
                media="(max-width: 375px)"
                srcset="
                  /img/build-bakery/bb3mob.png    1x,
                  /img/build-bakery/bb3mob@2x.png 2x
                "
              />
              <img class="bb_img" src="/img/build-bakery/bb3mob.png" alt="" />
            </picture>
          </div>
          <p class="bb__item-txt three">
            Clean up your space after the rush — wipe tables, organize shelves
          </p>
        </li>
        <li class="bb_item">
          <p class="bb__item-txt four">
            Upgrade your counter, window, and packaging
          </p>
          <div class="bb__img--box four">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/build-bakery/bb4desc.png    1x,
                  /img/build-bakery/bb4desc@2x.png 2x
                "
              />
              <source
                media="(max-width: 375px)"
                srcset="
                  /img/build-bakery/bb4mob.png    1x,
                  /img/build-bakery/bb4mob@2x.png 2x
                "
              />
              <img class="bb_img" src="/img/build-bakery/bb4mob.png" alt="" />
            </picture>
          </div>
        </li>
        <li class="bb_item">
          <div class="bb__img--box five">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/build-bakery/bb5desc.png    1x,
                  /img/build-bakery/bb5desc@2x.png 2x
                "
              />
              <source
                media="(max-width: 375px)"
                srcset="
                  /img/build-bakery/bb5mob.png    1x,
                  /img/build-bakery/bb5mob@2x.png 2x
                "
              />
              <img class="bb_img" src="/img/build-bakery/bb5mob.png" alt="" />
            </picture>
          </div>
          <p class="bb__item-txt five">
            Attract VIP customers by creating themed displays
          </p>
        </li>
        <li class="bb_item">
          <div class="bb__img--box six">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/build-bakery/bb6desc.png    1x,
                  /img/build-bakery/bb6desc@2x.png 2x
                "
              />
              <img class="bb_img" src="/img/build-bakery/bb6desc.png" alt="" />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="bb__donut-wrap">
      <svg class="icon-solar_donut">
        <use href="/img/sprite.svg#icon-donut"></use>
      </svg>
      <p class="bb__txt">
        Your shop reflects your aesthetic. Cozy, colorful, or classy — you
        decide.
      </p>
    </div>
  </div>
</section>
