<div class="cookie--pop" data-cookie-open="true">
  <div class="cookie--pop__inner">
    <div class="container">
      <h2 class="cookie--pop__title">Cookies Policy</h2>
      <p class="cookie--pop__txt">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>
      <div class="cookie--pop_btn--wrapper">
        <button data-btn-close class="cookie--pop__btn accept">
          ACCEPT COOKIES</button
        ><button data-btn-close class="cookie--pop__btn decline">
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
</div>
