<section id="customization">
  <div class="container">
    <h2 class="tools--title">Customization</h2>
    <h3 class="tools--title sub">Create Your Signature Donuts</h3>
    <ul class="customiz--list">
      <li class="customiz--item">
        <p class="customiz--text">
          Choose shape: Ring, flower, heart, star, spiral
        </p>
        <div class="customiz--image__box">
          <img
            src="/img/customization/custom_one.png"
            srcset="
              /img/customization/custom_one.png    1x,
              /img/customization/custom_one@2x.png 2x
            "
            alt="donut shape"
          />
        </div>
      </li>
      <li class="customiz--item">
        <p class="customiz--text">
          Pick frosting: Chocolate, pink glaze, white sugar, matcha
        </p>
        <div class="customiz--image__box">
          <img
            src="/img/customization/custom_two.png"
            srcset="
              /img/customization/custom_two.png    1x,
              /img/customization/custom_two@2x.png 2x
            "
            alt="donut frosting"
          />
        </div>
      </li>
      <li class="customiz--item">
        <p class="customiz--text">
          Add toppings: Sprinkles, candy pearls, sliced fruits
        </p>
        <div class="customiz--image__box">
          <img
            src="/img/customization/custom_three.png"
            srcset="
              /img/customization/custom_three.png    1x,
              /img/customization/custom_three@2x.png 2x
            "
            alt="donut toppings"
          />
        </div>
      </li>
      <li class="customiz--item">
        <p class="customiz--text">
          Place final details: Drizzle syrup, edible glitter, smiling faces
        </p>
        <div class="customiz--image__box">
          <img
            src="/img/customization/custom_four.png"
            srcset="
              /img/customization/custom_four.png    1x,
              /img/customization/custom_four@2x.png 2x
            "
            alt="donut details"
          />
        </div>
      </li>
      <li class="customiz--item">
        <p class="customiz--text">Save your donut in your collection</p>
        <div class="customiz--image__box">
          <img
            src="/img/customization/custom_five.png"
            srcset="
              /img/customization/custom_five.png    1x,
              /img/customization/custom_five@2x.png 2x
            "
            alt="save donut!"
          />
        </div>
      </li>
      <li class="customiz--item">
        <p class="customiz--text">
          Share your donut via photo export or post in-game!
        </p>
        <div class="customiz--image__box">
          <img
            src="/img/customization/custom_six.png"
            srcset="
              /img/customization/custom_six.png    1x,
              /img/customization/custom_six@2x.png 2x
            "
            alt="share donut"
          />
        </div>
      </li>
    </ul>
    <!--slider block-->
    <div class="customiz--list swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="customiz--item">
            <div class="customiz--image__box">
              <img
                src="/img/customization/custom_one.png"
                srcset="
                  /img/customization/custom_one.png    1x,
                  /img/customization/custom_one@2x.png 2x
                "
                alt="donut shape"
              />
            </div>
            <p class="customiz--text">
              Choose shape: Ring, flower, heart, star, spiral
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="customiz--item">
            <div class="customiz--image__box">
              <img
                src="/img/customization/custom_two.png"
                srcset="
                  /img/customization/custom_two.png    1x,
                  /img/customization/custom_two@2x.png 2x
                "
                alt="donut frosting"
              />
            </div>
            <p class="customiz--text">
              Pick frosting: Chocolate, pink glaze, white sugar, matcha
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="customiz--item">
            <div class="customiz--image__box">
              <img
                src="/img/customization/custom_three.png"
                srcset="
                  /img/customization/custom_three.png    1x,
                  /img/customization/custom_three@2x.png 2x
                "
                alt="donut toppings"
              />
            </div>
            <p class="customiz--text">
              Add toppings: Sprinkles, candy pearls, sliced fruits
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customiz--item">
            <div class="customiz--image__box">
              <img
                src="/img/customization/custom_four.png"
                srcset="
                  /img/customization/custom_four.png    1x,
                  /img/customization/custom_four@2x.png 2x
                "
                alt="donut details"
              />
            </div>
            <p class="customiz--text">
              Place final details: Drizzle syrup, edible glitter, smiling faces
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customiz--item">
            <div class="customiz--image__box">
              <img
                src="/img/customization/custom_five.png"
                srcset="
                  /img/customization/custom_five.png    1x,
                  /img/customization/custom_five@2x.png 2x
                "
                alt="save donut!"
              />
            </div>
            <p class="customiz--text">Save your donut in your collection</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="customiz--item">
            <div class="customiz--image__box">
              <img
                src="/img/customization/custom_six.png"
                srcset="
                  /img/customization/custom_six.png    1x,
                  /img/customization/custom_six@2x.png 2x
                "
                alt="share donut"
              />
            </div>
            <p class="customiz--text">
              Share your donut via photo export or post in-game!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--swiper block ends-->
    <div class="tools--donut__wrapper">
      <svg class="tools--donut__icon">
        <use xlink:href="/img/sprite.svg#icon-donut"></use>
      </svg>
      <p class="tools--donut__txt">
        Unlock special décor packs for holidays, seasons, or customer requests
      </p>
    </div>
  </div>
</section>
