<section id="donut-showcase">
  <div class="container">
    <h2 class="donut--title">Donut Showcase</h2>
    <h3 class="donut--title sub">Your Donut Gallery</h3>
    <div class="swiper donut-showcase">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="donut--box donut__one"></div>
        </div>
        <div class="swiper-slide">
          <div class="donut--box donut__two"></div>
        </div>
        <div class="swiper-slide">
          <div class="donut--box donut__three"></div>
        </div>
        <div class="swiper-slide">
          <div class="donut--box donut__four"></div>
        </div>
        <div class="swiper-slide">
          <div class="donut--box donut__five"></div>
        </div>
      </div>

      <!-- Кнопки навігації -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
