<section id="download-now">
  <div class="container">
    <h2 class="down__title">Ready to Glaze, Sprinkle & Serve?</h2>
    <ul class="down__list">
      <li class="down__item">
        Join thousands of cozy chefs in<br />
        the ultimate donut decorating<br />
        simulator!
      </li>
      <li class="down__item">
        Whether you’re a creative soul or a<br />
        casual player, Donut Maker: Yummy<br />
        Donuts is the sweetest way to relax <br />and express yourself!
      </li>
    </ul>
    <h2 class="down__title down__sub">Download Now</h2>
    <button class="footer__btn">Start Baking Sweet Magic</button>
  </div>
</section>
