<section id="download-now">
  <div class="container">
    <h2 class="down__title">Ready to Glaze, Sprinkle & Serve?</h2>
    <ul class="down__list">
      <li class="down__item">
        <p class="down__text">
          Join thousands of cozy chefs in the ultimate donut decorating
          simulator!
        </p>
      </li>
      <li class="down__item">
        <p class="down__text">
          Whether you’re a creative soul or a casual player, Donut Maker: Yummy
          Donuts is the sweetest way to relax and express yourself!
        </p>
      </li>
    </ul>
    <h2 class="down__title down__sub">Download Now</h2>
    <a
      href="https://play.google.com/store/apps/details?id=com.kiwigo.donutshop.free&hl=en&gl=us"
      class="footer__btn"
      target="_blank"
      >Start Baking Sweet Magic</a
    >
  </div>
</section>
