<section id="game-modes">
  <div class="container">
    <h2 class="game__title">Game Modes</h2>
    <h3 class="game__title sub">Something for Every Sweet Tooth</h3>
    <div class="game__wrapper">
      <ul class="game__list-mods">
        <li class="game__mods-item">
          <div class="game__mods--icon_box">
            <img
              src="/img/game-modes/mode_one.png"
              alt="donut"
              class="game__mods--icon"
            />
          </div>
          Free Play Mode
        </li>
        <li class="game__mods-item">
          <div class="game__mods--icon_box">
            <img
              src="/img/game-modes/mode_two.png"
              alt="cake"
              class="game__mods--icon"
            />
          </div>
          Customer Order Mode
        </li>
        <li class="game__mods-item">
          <div class="game__mods--icon_box">
            <img
              src="/img/game-modes/mode_three.png"
              alt="sandwatch"
              class="game__mods--icon"
            />
          </div>
          Time Challenge Mode
        </li>
        <li class="game__mods-item">
          <div class="game__mods--icon_box">
            <img
              src="/img/game-modes/mode_four.png"
              alt="bag"
              class="game__mods--icon"
            />
          </div>
          Shop Management Mode
        </li>
        <li class="game__mods-item">
          <div class="game__mods--icon_box">
            <img
              src="/img/game-modes/mode_five.png"
              alt="firework"
              class="game__mods--icon"
            />
          </div>
          Special Event Mode
        </li>
      </ul>
      <ul class="game__list-arrows">
        <li class="game__arrow">
          <ul class="sub--list">
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="game__arrow">
          <ul class="sub--list">
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="game__arrow">
          <ul class="sub--list">
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="game__arrow">
          <ul class="sub--list">
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
          </ul>
        </li>
        <li class="game__arrow">
          <ul class="sub--list">
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
            <li class="strip--item">
              <svg width="20" height="16">
                <use href="/img/sprite.svg#icon-arrow"></use>
              </svg>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="game__list-adv">
        <li class="game__adv-item">Bake & decorate with no pressure</li>
        <li class="game__adv-item">Serve custom donuts to match orders</li>
        <li class="game__adv-item">
          Complete as many donuts as possible under a timer
        </li>
        <li class="game__adv-item">
          Handle multitasking: cleaning, serving, refilling
        </li>
        <li class="game__adv-item">
          Limited-time bakery themes (Halloween,Valentine’s Day,etc.)
        </li>
      </ul>
    </div>
  </div>
</section>
