<header>
  <div class="header-container">
    <nav>
      <div class="header__logo--box">
        <img
          src="../img/header/logo.png"
          alt="donuts logo"
          class="header__logo"
        />
        <a href="/index.html" class="header__link">Home</a>
      </div>
      <ul class="header__nav--list">
        <li class="header__nav--item">
          <a href="#how-to-bake" class="header__link">How to Bake </a>
        </li>
        <li class="header__nav--item">
          <a href="#build-bakery" class="header__link">Build Your Bakery</a>
        </li>
        <li class="header__nav--item">
          <a href="#game-modes" class="header__link">Game Modes</a>
        </li>
        <li class="header__nav--item">
          <a href="#reviews" class="header__link">Reviews</a>
        </li>
        <li class="header__nav--item">
          <a href="#tools-ingredient" class="header__link"
            >Tools & Ingredients</a
          >
        </li>
        <li class="header__nav--item">
          <a href="#customization" class="header__link">Customization</a>
        </li>
        <li class="header__nav--item">
          <a href="#donut-showcase" class="header__link">Donut Showcase</a>
        </li>
        <li class="header__nav--item">
          <a href="#download-now" class="header__link">Call to Action</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
