<section id="hero">
  <div class="container hero-container">

    <div class="hero-btn-link">
      <a class="hero-link-play" href="#" target="blank">
        <img class="hero-link-img" src="/img/hero/logos_google-play-icon@1x.png" alt="logos_google-play-icon">
        <span class="hero-link-span">
          Google Play
        </span>
      </a>
    </div>

    <div class="hero-wrapper-img">

      <div class="hero-wrapper-img-play">
        <picture>
          <source media="(min-width: 1200px)" srcset="
             /img/hero/hero_playfree_desk@1x.png 1x,
             /img/hero/hero_playfree_desk@2x.png 2x" />

          <source media="(min-width: 320px)" srcset="
             /img/hero/hero_playfree_mob@1x.png 1x,
             /img/hero/hero_playfree_mob@2x.png 2x">
          <img class="hero-donut-img" src="/img/hero/hero_playfree_mob@1x.png" alt="play free donut">
        </picture>
      </div>

      <div class="hero-wrapper-img-make">
        <picture>
          <source media="(min-width: 1200px)" srcset="
             /img/hero/hero_make_desk@1x.png 1x,
             /img/hero/hero_make_desk@2x.png 2x" />

          <source media="(min-width: 320px)" srcset="
             /img/hero/hero_make_mob@1x.png 1x,
             /img/hero/hero_make_mob@2x.png 2x" />
          <img class="hero-donut-img" src="/img/hero/hero_make_mob@1x.png" alt="make decor donut">
        </picture>
      </div>

    </div>

    <div class="hero-wrapper-h">
      <h2 class="hero-title-h2">Your Donut Dreams Begin Here</h2>
      <h3 class="hero-title-h3">Welcome to Donut Maker: Yummy Donuts,</h3>
    </div>

    <div class="hero-wrapper-p">
      <p class="hero-text-1">the most adorable and delicious
        donut-making
        simulator on mobile! Step into
        your cozy
        little
        bakery, mix your
        batter, shape perfect rings, bake to golden perfection — and decorate them into edible art.
      </p>
      <p class="hero-text-2">
        Run your very own dessert shop, make
        your customers smile, and turn your donut shop into the sweetest hotspot in the city!
      </p>
    </div>

  </div>
</section>