<section id="how-to-bake">
  <div class="container">
    <h2 class="donut--title">How to Bake</h2>
    <h3 class="donut--title sub">Bake Like a Pro – One Step at a Time</h3>
    <p class="donut--txt">
      Whether you're just starting out or aiming to earn 3 stars from every
      customer, here’s how to master the art of donut making:
    </p>
    <!--list swiper-->
    <ul class="bake--list swiper" data-htb-swiper>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <li class="bake--list__item">
            <h3 class="donut--title sub ing">Prepare Your Ingredients</h3>
            <div class="bake--item__wrap">
              <div class="bake--step-wrap">
                <span class="bake--step-numb">1</span>
                <div class="bake--step-word">
                  <span>S</span><span>T</span><span>E</span><span>P</span>
                </div>
              </div>
              <ul class="bake--item__list">
                <li class="bake--small_item">
                  Choose the correct ingredients from your pantry: flour, sugar,
                  eggs, milk, butter, and flavorings.
                </li>
                <li class="bake--small_item">
                  Measure carefully! Some orders require special combinations
                  like chocolate dough or berry cream filling.
                </li>
                <li class="bake--small_item">
                  Watch the guide bar and follow instructions — perfect timing
                  gives bonus points.
                </li>
              </ul>
              <div class="bake--img__box">
                <img
                  src="/img/how-to-bake/bake_one.png"
                  srcset="
                    /img/how-to-bake/bake_one.png    1x,
                    /img/how-to-bake/bake_one@2x.png 2x
                  "
                  alt="bakering first step"
                  class="baker--img"
                />
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="bake--list__item">
            <h3 class="donut--title sub ing">Mix the Dough</h3>
            <div class="bake--item__wrap">
              <div class="bake--step-wrap">
                <span class="bake--step-numb">2</span>
                <div class="bake--step-word">
                  <span>S</span><span>T</span><span>E</span><span>P</span>
                </div>
              </div>
              <ul class="bake--item__list">
                <li class="bake--small_item">
                  Use the electric mixer to blend the ingredients until the
                  texture is smooth.
                </li>
                <li class="bake--small_item">
                  Don’t overmix or undermix — look for visual cues like batter
                  shine and speed bars.
                </li>
                <li class="bake--small_item">
                  Some levels introduce flavored mixes like vanilla, lemon,
                  matcha, or cocoa.
                </li>
              </ul>
              <div class="bake--img__box">
                <img
                  src="/img/how-to-bake/bake_two.png"
                  srcset="
                    /img/how-to-bake/bake_two.png    1x,
                    /img/how-to-bake/bake_two@2x.png 2x
                  "
                  alt="bakering second step"
                  class="baker--img"
                />
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="bake--list__item">
            <h3 class="donut--title sub ing">Shape the Donuts</h3>
            <div class="bake--item__wrap">
              <div class="bake--step-wrap">
                <span class="bake--step-numb">3</span>
                <div class="bake--step-word">
                  <span>S</span><span>T</span><span>E</span><span>P</span>
                </div>
              </div>
              <ul class="bake--item__list">
                <li class="bake--small_item">
                  Choose your mold: classic ring, heart, star, bear face, or
                  swirl.
                </li>
                <li class="bake--small_item">
                  Drag the batter into molds and tap to release.
                </li>
                <li class="bake--small_item">
                  Precision earns better shape scores (affects customer
                  happiness and coins).
                </li>
              </ul>
              <div class="bake--img__box">
                <img
                  ssrc="/img/how-to-bake/bake_three.png"
                  srcset="
                    /img/how-to-bake/bake_three.png    1x,
                    /img/how-to-bake/bake_three@2x.png 2x
                  "
                  alt="bakering three step"
                  class="baker--img"
                />
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="bake--list__item">
            <h3 class="donut--title sub ing">Bake or Fry</h3>
            <div class="bake--item__wrap">
              <div class="bake--step-wrap">
                <span class="bake--step-numb">4</span>
                <div class="bake--step-word">
                  <span>S</span><span>T</span><span>E</span><span>P</span>
                </div>
              </div>
              <ul class="bake--item__list">
                <li class="bake--small_item">
                  You’ll be prompted to choose:
                  <ul class="baker--item__list">
                    <li class="bake--small_item-line">
                      Frying Pot – gives a crispy, golden finish
                    </li>
                    <li class="bake--small_item-line">
                      Oven Bake – softer, fluffier texture
                    </li>
                  </ul>
                </li>
                <li class="bake--small_item">
                  Monitor temperature gauges. Overcooking results in burnt
                  donuts (and fewer stars).
                </li>
                <li class="bake--small_item">
                  Bonus: Some advanced levels unlock double-deck ovens and air
                  fryer mode!
                </li>
              </ul>
              <div class="bake--img__box">
                <img
                  src="/img/how-to-bake/bake_four.png"
                  srcset="
                    /img/how-to-bake/bake_four.png    1x,
                    /img/how-to-bake/bake_four@2x.png 2x
                  "
                  alt="bakering four step"
                  class="baker--img"
                />
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="bake--list__item">
            <h3 class="donut--title sub ing">Decorate with Love</h3>
            <div class="bake--item__wrap">
              <div class="bake--step-wrap">
                <span class="bake--step-numb">5</span>
                <div class="bake--step-word">
                  <span>S</span><span>T</span><span>E</span><span>P</span>
                </div>
              </div>
              <ul class="bake--item__list">
                <li class="bake--small_item">
                  Frosting first: dip into glaze or drizzle using piping bags.
                </li>
                <li class="bake--small_item">
                  Then toppings: add fruits, candy bits, cream, pearls, syrups,
                  or smiley faces.
                </li>
                <li class="bake--small_item">
                  Some orders are freestyle — others must match customer
                  requests exactly for a perfect rating.
                </li>
              </ul>
              <div class="bake--img__box">
                <img
                  src="/img/how-to-bake/bake_five.png"
                  srcset="
                    /img/how-to-bake/bake_five.png    1x,
                    /img/how-to-bake/bake_five@2x.png 2x
                  "
                  alt="bakering five step"
                  class="baker--img"
                />
              </div>
            </div>
          </li>
        </div>
        <div class="swiper-slide">
          <li class="bake--list__item">
            <h3 class="donut--title sub ing">Serve & Earn</h3>
            <div class="bake--item__wrap">
              <div class="bake--step-wrap">
                <span class="bake--step-numb">6</span>
                <div class="bake--step-word">
                  <span>S</span><span>T</span><span>E</span><span>P</span>
                </div>
              </div>
              <ul class="bake--item__list">
                <li class="bake--small_item">
                  Drag your finished donuts to the customer tray.
                </li>
                <li class="bake--small_item">
                  Get Coins, Stars, and sometimes surprise Gift Boxes.
                </li>
                <li class="bake--small_item">
                  Try to complete daily orders and themed challenges to unlock
                  upgrades!
                </li>
              </ul>
              <div class="bake--img__box">
                <img
                  src="/img/how-to-bake/bake_six.png"
                  srcset="
                    /img/how-to-bake/bake_six.png    1x,
                    /img/how-to-bake/bake_six@2x.png 2x
                  "
                  alt="bakering six step"
                  class="baker--img"
                />
              </div>
            </div>
          </li>
        </div>
      </div>
    </ul>
    <!--end-list-->
    <div class="tools--donut__wrapper">
      <svg class="tools--donut__icon">
        <use xlink:href="/img/sprite.svg#icon-donut"></use>
      </svg>
      <p class="tools--donut__txt">
        Pro Tip: Use your in-game notebook to track customer favorites and
        unlock bonus dialogue or VIP visits!
      </p>
    </div>
  </div>
</section>
