<section id="how-to-bake">
  <div class="container">
    <h2>How to Bake</h2>
    <h3>
      Bake Like a Pro – One Step at a Time
    </h3>
    <p>Whether you're just starting out or aiming to earn 3 stars from every customer, here’s how to master the art of
      donut
      making:</p>
    <ul>
      <ul>
        <li>
        <li>
          <h3>Prepare Your Ingredients</h3>
        </li>
        <li>
          <p>1</p>
          <p>S
            T
            E
            P</p>
        </li>
        <li>
          <p>Choose the correct ingredients from your pantry: flour, sugar, eggs, milk, butter, and flavorings.</p>
          <p>Measure carefully! Some orders require special combinations like chocolate dough or berry cream filling.
          </p>
          <p>Watch the guide bar and follow instructions — perfect timing gives bonus points.</p>
        </li>
        <li><img src="../img/how-to-bake/how_to_bake_prepare_mob@1x.png"></li>
        </li>
        <li>
        <li>
          <h3>Mix the Dough</h3>
        </li>
        <li>
          <p>2</p>
          <p>S
            T
            E
            P</p>
        </li>
        <li>
          <p>Use the electric mixer to blend the ingredients until the texture is smooth.</p>
          <p>Don’t overmix or undermix — look for visual cues like batter shine and speed bars.
          </p>
          <p>Some levels introduce flavored mixes like vanilla, lemon, matcha, or cocoa.</p>
        </li>
        <li><img src="../img/how-to-bake/how_to_bake_mix_mob@1x.png"></li>
        </li>
      </ul>


    </ul>
    <div>
      <img>
      <p>Pro Tip: Use your in-game notebook to track customer favorites and unlock bonus dialogue or VIP visits!</p>
    </div>
  </div>
</section>