<nav class="mobile--menu__container" data-menu aria-hidden="true">
  <button class="mobile--menu__close" data-menu-close aria-label="close menu">
    <svg class="mobile--menu__close--icon">
      <use xlink:href="/img/sprite.svg#menu-close"></use>
    </svg>
  </button>
  <ul class="mobile--menu__list">
    <li class="mobile--menu__item">
      <a href="./index.html" class="mobile--menu__link" data-menu-link>Home </a>
    </li>
    <li class="mobile--menu__item">
      <a href="#how-to-bake" class="mobile--menu__link" data-menu-link
        >How to Bake
      </a>
    </li>
    <li class="mobile--menu__item">
      <a href="#tools-ingridients" class="mobile--menu__link" data-menu-link
        >Tools & Ingredients</a
      >
    </li>
    <li class="mobile--menu__item">
      <a href="#build-bakery" class="mobile--menu__link" data-menu-link
        >Build Your Bakery</a
      >
    </li>
    <li class="mobile--menu__item">
      <a href="#customization" class="mobile--menu__link" data-menu-link
        >Customization</a
      >
    </li>
    <li class="mobile--menu__item">
      <a href="#game-modes" class="mobile--menu__link" data-menu-link
        >Game Modes</a
      >
    </li>
    <li class="mobile--menu__item">
      <a href="#donut-showcase" class="mobile--menu__link" data-menu-link
        >Donut Showcase</a
      >
    </li>
    <li class="mobile--menu__item">
      <a href="#reviews" class="mobile--menu__link" data-menu-link>Reviews</a>
    </li>
    <li class="mobile--menu__item">
      <a href="#download-now" class="mobile--menu__link" data-menu-link
        >Call to Action</a
      >
    </li>
  </ul>
</nav>
