<nav class="mobile--menu__container" data-menu aria-hidden="true">
  <button class="mobile--menu__close" data-menu-close aria-label="close menu">
    <svg class="mobile--menu__close--icon">
      <use xlink:href="/img/sprite.svg#menu-close"></use>
    </svg>
  </button>
  <ul class="mobile--menu__list">
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Home </a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">How to Bake </a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Tools & Ingredients</a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Build Your Bakery</a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Customization</a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Game Modes</a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Donut Showcase</a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Reviews</a>
    </li>
    <li class="mobile--menu__item">
      <a href="#" class="mobile--menu__link">Call to Action</a>
    </li>
  </ul>
</nav>
