<section id="reviews">
  <div class="container">
    <h2 class="reviews__title">Reviews</h2>
    <h3 class="reviews_sub-title">What Players Are Saying</h3>
    <ul class="reviews__list">
      <li class="reviews__item">
        <div class="reviews__wrapper">
          <img
            src="/img/reviews/donut.png"
            width="36"
            height="35"
            alt="small donut"
            class="reviews__img"
          />
          <p class="reviews__item-title">Olivia P. (US)</p>
        </div>
        <div class="reviews__item-box">
          <p class="reviews__item-text">
            “This is the coziest game I’ve ever played. Decorating the donuts is
            so satisfying I almost want to print and eat them!”
          </p>
        </div>
      </li>
      <li class="reviews__item">
        <div class="reviews__wrapper">
          <img
            src="/img/reviews/donut.png"
            width="36"
            height="35"
            alt="small donut"
            class="reviews__img"
          />
          <p class="reviews__item-title">Min-Ji L. (KR)</p>
        </div>
        <div class="reviews__item-box">
          <p class="reviews__item-text">
            “Love the visuals and sound. It feels like ASMR baking. Great for
            winding down after work!”
          </p>
        </div>
      </li>

      <li class="reviews__item">
        <div class="reviews__wrapper">
          <img
            src="/img/reviews/donut.png"
            width="36"
            height="35"
            alt="small donut"
            class="reviews__img"
          />
          <p class="reviews__item-title">Sasha D. (RU)</p>
        </div>
        <div class="reviews__item-box">
          <p class="reviews__item-text">
            “The customer orders are super creative and fun. Makes me want to
            open a real donut shop someday.”
          </p>
        </div>
      </li>

      <li class="reviews__item">
        <div class="reviews__wrapper">
          <img
            src="/img/reviews/donut.png"
            width="36"
            height="35"
            alt="small donut"
            class="reviews__img"
          />
          <p class="reviews__item-title">Liam G. (CA)</p>
        </div>
        <div class="reviews__item-box">
          <p class="reviews__item-text">
            “I play with my little sister — she decorates, I manage the orders.
            We laugh so much. It’s become our weekend routine.”
          </p>
        </div>
      </li>

      <li class="reviews__item">
        <div class="reviews__wrapper">
          <img
            src="/img/reviews/donut.png"
            width="36"
            height="35"
            alt="small donut"
            class="reviews__img"
          />
          <p class="reviews__item-title">Zara A. (AE)</p>
        </div>
        <div class="reviews__item-box">
          <p class="reviews__item-text">
            “Free, beautiful, stress-free. What more can you ask for? 10/10
            baking game!”
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
