<section id="privacy">
  <div class="container">
    <div class="privacy--wrapper">
      <img src="/img/privacy/logos.png" alt="logo" class="privacy--logo" />
      <a href="/index.html" class="privacy--back__link">
        <svg class="privacy--icon">
          <use xlink:href="/img/sprite.svg#back-to-future"></use>
        </svg>
        <p class="privacy--back__title">Go Back to Yummy Donuts</p>
      </a>
    </div>
    <h2 class="privacy--title">Terms and Conditions</h2>
    <h3 class="privacy--sub__title">
      Last Updated:<span class="privacy--sub__title__sec">2025-05-16</span>
    </h3>
    <p class="privacy--text">
      These Terms and Conditions apply to the donutwizardblitz.com website
      (hereinafter referred to as "Website"). By accessing or using our
      services, you agree to comply with and be bound by these Terms and
      Conditions. Please review them carefully before using our Website. Google
      Play Services  Google Analytics for Firebase  Facebook 
    </p>
    <ul class="privacy--list__main">
      <li class="privacy--list__item">
        <h3 class="privacy--sub__title">1. Acceptance of Terms</h3>
        <p class="privacy--text">
          By accessing or using our Website, you acknowledge that you have read,
          understood, and agree to be bound by these Terms and Conditions. If
          you do not agree, please do not use the Website.
        </p>
      </li>
      <li class="privacy--list_item">
        <h3 class="privacy--sub__title">2. Intellectual Property</h3>
        <p class="privacy--text">
          All content, including text, images, graphics, and trademarks, belongs
          to this website or its licensors and is protected by applicable
          copyright and trademark laws. Unauthorized reproduction, modification,
          or distribution is prohibited.  Any unauthorized commercial use,
          resale, or redistribution of the Website’s content, including but not
          limited to its design, layout, or code, is strictly prohibited.
        </p>
      </li>
      <li class="privacy--list_item">
        <h3 class="privacy--sub__title">3. User Obligations</h3>
        <ul class="privacy--list">
          <li class="privacy--item">
            <p class="privacy--text">
              You agree not to use the Website for any unlawful purposes.
            </p>
          </li>
          <li class="privacy--item">
            <p class="privacy--text">
              You must not attempt to interfere with the proper working of the
              Website. 
            </p>
          </li>
          <li class="privacy--item">
            <p class="privacy--text">
              Any attempt to reverse-engineer, decompile, or extract the source
              code is strictly prohibited.
            </p>
          </li>
        </ul>
        <p class="privacy--text sub">
          You may not use automated systems, bots, or scripts to access or
          interact with the Website in any way that violates Google’s policies
          on spam and automated queries.
        </p>
      </li>
      <li class="privacy--list_item">
        <h3 class="privacy--sub__title">
          4. Third-Party Services and External Links
        </h3>
        <p class="privacy--text">
          Please note that the Application utilizes third-party services that
          have their own Terms and Conditions. Below are the links to the Terms
          and Conditions of the third-party service providers used by the
          Application:
        </p>
        <ul class="privacy--list">
          <li class="privacy--item">
            <a
              href="https://policies.google.com/privacy"
              target="_blank"
              class="privacy--links"
            >
              <p class="privacy--text">Google Play Services</p>
            </a>
          </li>
          <li class="privacy--item">
            <a
              href="https://firebase.google.com/support/privacy"
              target="_blank"
              class="privacy--links"
            >
              <p class="privacy--text">Google Analytics for Firebase</p>
            </a>
          </li>
          <li class="privacy--item">
            <a
              href="https://www.facebook.com/about/privacy/update/printable"
              target="_blank"
              class="privacy--links"
            >
              <p class="privacy--text">Facebook</p>
            </a>
          </li>
        </ul>
        <p class="privacy--text sub">
          By clicking on third-party links, you acknowledge that these services
          operate under their own terms and policies. We are not responsible for
          any data collection, practices, or content on these external sites.
        </p>
      </li>
      <li class="privacy--list_item">
        <h3 class="privacy--sub__title">5. Limitation of Liability</h3>
        <p class="privacy--text">
          We are not responsible for any direct, indirect, incidental, or
          consequential damages arising from the use of our Website.
        </p>
        <p class="privacy--text">
          We do not guarantee uninterrupted or error-free operation of the
          Website. We are not liable for any loss of data, business
          interruptions, or security breaches that may occur.
        </p>
      </li>
      <li class="privacy--list_item">
        <h3 class="privacy--sub__title">6. Privacy and Data Usage</h3>
        <p class="privacy--text">
          The Website may collect and process personal data as described in our
          Privacy Policy.
        </p>
        <p class="privacy--text">
          We do not sell or rent your personal data to third parties. We only
          share data with partners for analytics, security, and functionality
          improvements.
        </p>
      </li>
      <li class="privacy--list_item">
        <h3 class="privacy--sub__title">7. Changes to Terms</h3>
        <p class="privacy--text">
          We reserve the right to modify these Terms at any time. Continued use
          of the Website after changes signifies acceptance of the updated
          Terms.
        </p>
        <p class="privacy--text">
          Users will be notified of material changes to these terms via an
          update on the Website or through email (if provided).
        </p>
      </li>
      <li class="privacy--list_item">
        <h3 class="privacy--sub__title">Contact Us</h3>
        <p class="privacy--text">
          If you have any questions or concerns about this Privacy Policy,
          please contact us at
          <a href="mailto:info@donutwizardblitz.com" class="privacy--links"
            >info@donutwizardblitz.com.</a
          >
        </p>
      </li>
    </ul>
  </div>
</section>
