<section id="tools-ingridients">
  <div class="container">
    <h2 class="tools--title">Tools & Ingredients</h2>
    <h3 class="tools--title sub">Feel Like a Real Pastry Chef</h3>
    <h4 class="tools--text__title">Use realistic baking tools:</h4>
    <div class="tools--wrap">
      <ul class="tools--list__tools">
        <li class="tools--list__item">Electric Mixer</li>
        <li class="tools--list__item">Flour Sifter</li>
        <li class="tools--list__item">Dough Cutter</li>
        <li class="tools--list__item">Rolling Pin</li>
      </ul>
      <div class="tools--image__box">
        <img
          src="/img/tools-ingredients/tools.png"
          alt="tools for bake"
          srcset="
            /img/tools-ingredients/tools.png    1x,
            /img/tools-ingredients/tools@2x.png 2x
          "
          class="tools--image"
        />
      </div>
      <ul class="tools--list__tools sub-tools">
        <li class="tools--list__item">Frying Pot & Oven</li>
        <li class="tools--list__item">Donut Tray</li>
        <li class="tools--list__item">Icing Piping Bag</li>
        <li class="tools--list__item">Sprinkle Spoon</li>
      </ul>
    </div>
    <h4 class="tools--text__title">Plus dozens of colorful ingredients:</h4>
    <ul class="tools--list__ing">
      <li class="tools--list__item--ing">
        <p class="tools--ing__txt">Milk</p>
        <div class="tools--ing__image--box">
          <img
            src="/img/tools-ingredients/ing_one.png"
            srcset="
              /img/tools-ingredients/ing_one.png    1x,
              /img/tools-ingredients/ing_one@2x.png 2x
            "
            alt="Milk"
          />
        </div>
      </li>
      <li class="tools--list__item--ing">
        <p class="tools--ing__txt">Cocoa</p>
        <div class="tools--ing__image--box">
          <img
            src="/img/tools-ingredients/ing_two.png"
            srcset="
              /img/tools-ingredients/ing_two.png    1x,
              /img/tools-ingredients/ing_two@2x.png 2x
            "
            alt="Cocoa"
          />
        </div>
      </li>
      <li class="tools--list__item--ing">
        <p class="tools--ing__txt">Jelly</p>
        <div class="tools--ing__image--box">
          <img
            src="/img/tools-ingredients/ing_five.png"
            srcset="
              /img/tools-ingredients/ing_five.png    1x,
              /img/tools-ingredients/ing_five@2x.png 2x
            "
            alt="Jelly"
          />
        </div>
      </li>
      <li class="tools--list__item--ing">
        <p class="tools--ing__txt">Nuts</p>
        <div class="tools--ing__image--box">
          <img
            src="/img/tools-ingredients/ing_six.png"
            srcset="
              /img/tools-ingredients/ing_six.png    1x,
              /img/tools-ingredients/ing_six@2x.png 2x
            "
            alt="Nuts"
          />
        </div>
      </li>

      <li class="tools--list__item--ing">
        <p class="tools--ing__txt">Lemon Cream</p>
        <div class="tools--ing__image--box">
          <img
            src="/img/tools-ingredients/ing_four.png"
            srcset="
              /img/tools-ingredients/ing_four.png    1x,
              /img/tools-ingredients/ing_four@2x.png 2x
            "
            alt="Lemon Cream"
          />
        </div>
      </li>
      <li class="tools--list__item--ing">
        <p class="tools--ing__txt">Strawberries</p>
        <div class="tools--ing__image--box">
          <img
            src="/img/tools-ingredients/ing_three.png"
            srcset="
              /img/tools-ingredients/ing_three.png    1x,
              /img/tools-ingredients/ing_three@2x.png 2x
            "
            alt="Strawberries"
          />
        </div>
      </li>
      <li class="tools--list__item--ing">
        <p class="tools--ing__txt"> Rainbow Drops</p>
        <div class="tools--ing__image--box">
          <img
            src="/img/tools-ingredients/ing_sev.png"
            srcset="
              /img/tools-ingredients/ing_sev.png    1x,
              /img/tools-ingredients/ing_sev@2x.png 2x
            "
            alt=" Rainbow Drops"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
