:root {
  /* Variables for base colors */
  --text: #4d0d41;
  --comments-form: #f2ecf8;
  --button: #de26cc;
  --text-button: #fff;
  --cookies: #ffeaa7;
  --button-cookies: #a56ec5;
  --footer: #ffe5b5;
  --background: #fffcef;
  --decline-cookies: #7b63b3;
  --button-disabled: #8f6a86;
  --button-cookies-disabled: #7f739b;
  --text-hover: #941d7f;
  --text-click: #c339a5;
  --accept-cookies-click: #b85eed;
  --decline-cookies-click: #8a65df;
  --button-click: #ff51b1;

  /* Variables for base colors */
  --font-baloo: 'Baloo 2', sans-serif;
  --font-comfortaa: 'Comfortaa', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Base fonts and colors */
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-baloo);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.02em;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

section {
  padding: 20px 0;

  @media screen and (width >= 1200px) {
    padding: 40px 0;
  }
}

button {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
