#download-now .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    max-width: 864px;
    padding: 0;
  }
}
.down__title {
  font-family: var(--font-comfortaa);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  background: linear-gradient(90deg, #000c8c 0%, #ae00ff 71.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
  @media screen and (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 16px;
    max-width: 240px;
  }
}
.down__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 64px;
  margin-bottom: 40px;
  text-align: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    font-size: 14px;
    line-height: 1.55;
    gap: 16px;
  }
}
.down__item {
  text-align: left;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 300px;
    text-align: center;
    line-height: 1.75;
    &:first-child {
      padding: 18px 44px 18px 20px;
    }
    &:last-child {
      padding: 2px 28px 2px 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 400px;
    &:first-child {
      padding: 18px 89px 18px 40px;
    }
    &:last-child {
      padding: 2px 54px 2px 40px;
    }
  }
}

.footer__btn {
  border-radius: 100%;
  background-color: var(--button);
  height: 100px;
  width: 404px;
  border: none;
  font-family: var(--font-comfortaa);
  font-weight: 600;
  font-size: 24px;
  color: var(--text-button);
  transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out,
    translate 300ms ease-in-out;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    font-weight: 400;
    width: 280px;
    height: 41px;
  }
  &:hover {
    box-shadow: 0 4px 50px 0 rgba(247, 255, 0, 0.5);
    animation: bttn-jump 1s ease-in;
    animation-iteration-count: infinite;
  }
  &:disabled {
    background-color: var(--button-disabled);
  }
  &:focus-within {
    background-color: var(--button-click);
  }
}
.down__sub {
  position: relative;
  margin-bottom: 70px;
  @media screen and (max-width: 767px) {
    margin-bottom: 26px;
  }
}
.down__sub::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 16px;
  right: -26px;
  top: 12px;
  width: 24px;
  height: 32px;
  background-image: url(/img/download-now/game-icons_arrow-dunk-mob.png);
  z-index: -1;
  background-repeat: no-repeat;
}

@media screen and (min-width: 767px) {
  .down__sub::after {
    right: -75px;
    top: 14px;
    width: 68px;
    height: 68px;
    background-image: url(/img/download-now/game-icons_arrow-dunk.png);
  }
}
