#hero {
  padding-top: 0;
}
.hero--main__img {
  padding-top: 108px;
  margin-bottom: 40px;
  @media screen and (width >= 1200px) {
    padding-top: 200px;
    margin-bottom: 80px;
  }
}
.hero-container {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.hero-btn-link {
  order: 1;
  display: block;
  width: 280px;
  border-radius: 100%;
  background-color: var(--button);
  text-align: center;
  box-shadow: 0 4px 50px 0 rgba(247, 255, 0, 0.5);
  margin-bottom: 32px;
  position: relative;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-link:focus,
.hero-btn-link:hover {
  background-color: var(--button-click);
}

.hero-link-play {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 68px;
  text-decoration: none;
}

.hero-link-span {
  font-family: var(--font-comfortaa);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding-left: 8px;
}

.hero-donut-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  @media screen and (min-width: 1200px) {
  }
}

.hero-wrapper-img-play {
  max-width: 130px;
  display: flex;
  order: 2;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 4px 50px 0 rgba(255, 0, 229, 0.35);
  transition: scale 300ms ease-in-out, box-shadow 300ms ease-in-out;
  @media screen and (width >= 1200px) {
    max-width: 331px;
    max-height: 240px;
    &:hover {
      scale: 1.02;
      box-shadow: 0 4px 70px 0 rgba(255, 0, 229, 0.35);
    }
  }
}

.hero-wrapper-img-make {
  max-width: 130px;
  margin-left: 20px;
  display: flex;
  order: 3;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 4px 50px 0 rgba(255, 0, 229, 0.35);
  transition: scale 300ms ease-in-out, box-shadow 300ms ease-in-out;
  @media screen and (width >= 1200px) {
    margin-left: 0;
    max-width: 331px;
    max-height: 350px;
    order: 4;
    &:hover {
      scale: 1.02;
      box-shadow: 0 4px 70px 0 rgba(255, 0, 229, 0.35);
    }
  }
}

.hero-wrapper-h {
  order: 4;
  justify-items: center;
}

.hero-wrapper-p {
  order: 5;
}

.hero-title-h2 {
  margin-top: 24px;
  font-family: var(--font-comfortaa);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  background: linear-gradient(90deg, #000c8c 0%, #ae00ff 71.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
  }
}

.hero-title-h3 {
  font-family: var(--font-comfortaa);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(90deg, #ae00ff 31.25%, #000c8c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 24px;
  }
}

.hero-text-1,
.hero-text-2 {
  font-family: var(--font-baloo);
  font-weight: 400;
  font-size: 14px;
  color: #4d0d41;
  line-height: normal;
}

.hero-text-1 {
  margin: 0;
}

.hero-text-2 {
  margin-top: 0;
}

/* Desktop styles */

@media only screen and (width >=1200px) {
  .hero-container {
    min-width: 1200px;
    display: flex;
    position: relative;
  }
  .hero-title-h2 {
    margin-top: 0;
    font-size: 32px;
    margin-bottom: 24px;
  }

  .hero-title-h3 {
    font-size: 24px;
  }

  .hero-text-1,
  .hero-text-2 {
    text-align: left;

    font-size: 20px;
    line-height: 1.75;
  }

  .hero-btn-link {
    width: 331px;
    order: 5;
    display: flex;
    position: absolute;
    top: 19em;
    margin: 0;
    box-shadow: none;
    transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
    &:focus-within {
      background-color: var(--button-click);
    }
    &:hover {
      box-shadow: 0 4px 50px 0 rgba(247, 255, 0, 0.5);
      background-color: var(--button);
      animation: bttn-jump 1s ease-in;
      animation-iteration-count: infinite;
    }
    &:active {
      box-shadow: none;
      background-color: var(--button-click);
    }
  }

  .hero-link-play {
    padding: 18px 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .hero-link-img {
    width: 30px;
    height: 34px;
  }

  .hero-link-span {
    font-size: 24px;
    margin-left: 16px;
    padding: 0;
  }

  .hero-wrapper-h {
    order: -1;
    width: 100%;
  }

  .hero-wrapper-p {
    max-width: 330px;
    order: 3;
    margin: 0 24px;
  }
}
