.mobile--menu__container {
  position: fixed;
  top: 52%;
  left: 50%;
  width: 280px;
  border-radius: 16px;
  background: linear-gradient(270deg, #fafeb8 0%, #fed7fe 100%);
  padding: 20px 16px 48px 80px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 1000;
  @media (min-width: 768px) {
    display: none;
  }
}

[data-menu='true'] {
  transform: translate(-50%, -50%);
}

[data-menu='false'] {
  transform: translate(calc(100% + 20px), -50%);
}

.mobile--menu__close {
  position: absolute;
  top: 22px;
  right: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.mobile--menu__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.mobile--menu__link {
  font-family: var(--font-ballon);
  font-weight: 400;
  font-size: 14px;
  color: var(--text);
}

.mobile--menu__toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.mobile--menu__close--icon {
  width: 14px;
  height: 14px;
  fill: var(--text);
}

.mobile--menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  transition: opacity 0.3s ease;
}

[data-backdrop-open='true'] {
  opacity: 1;
  pointer-events: auto;
}

[data-backdrop-open='false'] {
  opacity: 0;
  pointer-events: none;
}
